<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Team</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Create Team</string>
			<key>Key</key>
			<string>CreateTeam</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Join Team</string>
			<key>Key</key>
			<string>JoinTeam</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Leave Team</string>
			<key>Key</key>
			<string>LeaveTeam</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Notifications</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Daily Goal</string>
			<key>Key</key>
			<string>DailyGoal</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Daily Team Update</string>
			<key>Key</key>
			<string>DailyTeamUpdate</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>New Badge</string>
			<key>Key</key>
			<string>NewBadge</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Competition Start/End</string>
			<key>Key</key>
			<string>CompetitionStartEnd</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Admin Settings</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Team Information and Code</string>
			<key>Key</key>
			<string>TeamInfo</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Challenge Team</string>
			<key>Key</key>
			<string>ChallengeTeam</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Pending Challenges</string>
			<key>Key</key>
			<string>PendingChallenges</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
